@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}

body.dark {
    --bg-black-900: #0a0a0a;
    --bg-black-100: #111111;
    --bg-black-50: #191919;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: poppins, sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

::before, ::after {
    box-sizing: border-box;
}

.section {
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}

.hidden {
    display: none !important;
}

.main-content {
    padding-left: 270px;
}

.aside {
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.aside .logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo a {
    font-family: 'Clicker Script', cursive;
    color: var(--text-black-900);
    font-weight: 600;
    padding: 15px 20px;
    font-size: 40px;
    letter-spacing: 5px;
    position: relative;
}

.aside .logo a span {
    font-family: 'poppins';
}

.aside .logo a::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}

.aside .logo a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}

.aside .nav {
    margin-top: 50px;
}

.aside .nav li {
    margin-bottom: 20px;
    display: block;
}

.aside .nav li a {
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 2px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
    transition: 0.5s all;
}

.aside .nav li a:hover {
    color: var(--skin-color);
    padding-left: 20px;
}

.aside .nav li a i {
    margin-right: 5px;
}

.aside .nav li a.active {
    color: var(--skin-color);
}

/* Home */
.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello {
    font-size: 28px;
    margin: 15px 0;
}

h3.hello span {
    font-family: 'Clicker Script', cursive;
    font-size: 50px;
    font-weight: 900;
    color: var(--skin-color);
}

h3.my-profession {
    font-size: 30px;
    margin: 15px 0;
}

.typing {
    color: var(--skin-color);
}

.home-info p {
    margin-bottom: 70px;
    font-size: 20px;
    max-width: 800px;
    line-height: 1.8;
    color: var(--text-black-700);
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border: none;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    background: var(--skin-color);
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 76, 0.15);
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

/* ABOUT SECTION */
.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before {
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3 {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .about-text p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}

.about .about-content .personal-info {
    flex: 0 0 60%;
    max-width: 70%;
    margin-top: 40px;
}

.about .about-content .personal-info .info-item {
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .personal-info .info-item p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span {
    font-weight: 300;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}

.about .about-content .personal-info .buttons {
    margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn {
    margin-right: 15px;
    margin-top: 10px;
}

.about .about-content .skills {
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
    margin-bottom: 50px;
}

.about .about-content .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 25px;
}

.about .about-content .skills .skill-item h5 {
    line-height: 30px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}

.about .about-content .skills .skill-item .skill-percentage {
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}

.about .about-content .skills .skill-item .progress {
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.about .about-content .skills .skill-item .progress .progress-in {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}

.about .about-content .education, 
.about .about-content .experience {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top:30px;
}

.about .about-content h3.title {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.about .about-content .timeline-box {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .timeline {
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.about .about-content .timeline .timeline-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}

.about .about-content .timeline .timeline-item:last-child {
    padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before {
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);   
}

.about .about-content .timeline .circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}


.about .about-content .timeline .timeline-date {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}

.about .about-content .timeline .timeline-date .fa {
    margin-right: 5px;
}

.about .about-content .timeline .timeline-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}

.about .about-content .timeline .timeline-text {
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}

/* Education & Experience Columns */

h3.title {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.education,
.experience {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 20px;
}

/* Timeline Box */
.timeline {
    background: var(--bg-black-100);
    padding: 25px;
    border-radius: 10px;
    position: relative;
}

/* Vertical Line */
.timeline::before {
    content: '';
    position: absolute;
    left: 6px;
    top: 0;
    height: 100%;
    width: 2px;
    background: var(--skin-color);
}

/* Timeline Item */
.timeline-item {
    position: relative;
    padding-left: 30px;
    margin-bottom: 30px;
}

/* Circle Dot */
.circle-dot {
    position: absolute;
    left: 0;
    top: 5px;
    height: 14px;
    width: 14px;
    background: var(--skin-color);
    border-radius: 50%;
}

/* Date */
.timeline-date {
    font-size: 14px;
    color: var(--text-black-700);
    margin-bottom: 5px;
}

/* Title */
.timeline-title {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-black-900);
}

/* Text */
.timeline-text {
    font-size: 14px;
    color: var(--text-black-700);
}


/* ===== PROJECTS SECTION ===== */

.projects {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 50px 30px;
}

.projects .project-item {
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}   

.projects .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects .project-item .project-info {
    color: var(--text-black-900);
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease;
}

.projects .project-item .project-info p, h3 {
    font: 10px;
    margin: 5px;
}

.projects .project-item .project-info:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}


/* ===== CONTACT SECTION ===== */

.contact {
    width: 100%;
    padding: 50px 30px;
}

.contact-item {
    width: 100%; /* Full width */
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-left: 5px solid #007bff; /* Left border for style */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.contact-title {
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.contact .contact-info-item {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 60px;
}

.contact .contact-info-item .icon {
    display: inline-block;
}

.contact .contact-info-item .icon .fa {
    font-size: 25px;
    color: var(--skin-color);
}

.contact .contact-info-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.contact .contact-info-item p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}

.contact .contact-form {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.contact .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item {
    margin-bottom: 20px;
}

.contact .contact-form .form-item .form-control {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}

.contact .contact-form .form-item .form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .form-item textarea.form-control {
    height: 100px;
}

.contact .contact-form .btn {
    height: 50px;
    padding: 0 50px;
}


.project-info img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.projects .project-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}


::-webkit-scrollbar {
    width: 0px;
}


@media (max-width:1199px) 
{
    .aside {
        left: -270px;
    }
    .main-content {
        padding-left: 0;
    }
    .about .about-content .personal-info .info-item p span {
        display: block;
        margin-left: 0;
    }
}

@media (max-width:991px) 
{
    .contact .contact-info-item,
    .projects .project-item 
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .home .home-info 
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


.skill-category {
    background: var(--bg-black-100);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    border-left: 4px solid var(--skin-color);
    transition: all 0.3s ease;
}

/* Hover Effect */
.skill-category:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    border-left: 4px solid var(--skin-color);
}

/* Title */
.skill-category h4 {
    color: var(--skin-color);
    margin-bottom: 8px;
    transition: 0.3s;
}

/* Text */
.skill-category p {
    color: var(--text-black-700);
    font-size: 14px;
    transition: 0.3s;
}

/* Hover text color change */
.skill-category:hover h4 {
    letter-spacing: 1px;
}

.skill-category:hover p {
    color: var(--text-black-900);
}

.skill-category h4 {
    color: var(--skin-color);
    margin-bottom: 8px;
    position: relative;
    display: inline-block;
}

/* Animated underline */
.skill-category h4::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 3px;
    background: var(--skin-color);
    transition: width 0.4s ease;
}

/* On hover animate line */
.skill-category:hover h4::after {
    width: 100%;
}

@media (max-width:767px)
{
    .contact .contact-form .col-6,
    .contact,
    .projects .project-info,
    .education,
    .experience,
    .about .about-content .education,
    .about .about-content .experience,
    .about .about-content .skills,
    .about .about-content .personal-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
} 


.tech-icons img {
    width: 40px;
    margin: 10px;
}



.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--skin-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease;
    z-index: 9999;
    box-shadow: 0 0 15px var(--skin-color);
}


/* Text Hover Glow */
.section-title h2:hover {
    text-shadow: 0 0 10px var(--skin-color);
}



/* ===== CONTACT PAGE HOVER EFFECT ===== */
.contact-info-item .icon i {
    transition: 0.3s;
}

.contact-info-item:hover .icon i {
    transform: scale(1.3);
    color: var(--skin-color);
}


/* ===== NAVBAR HOVER EFFECT ===== */
.nav a {
    position: relative;
}

.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: var(--skin-color);
    transition: 0.3s;
}

.nav a:hover::after {
    width: 100%;
}


/* Button Shine Effect */
.btn {
    position: relative;
    overflow: hidden;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255,255,255,0.3), transparent);
    transition: 0.5s;
}

.btn:hover::before {
    left: 100%;
}



.project-slider {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
}

.project-slider img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 1s ease;
}

.project-slider img.active {
    opacity: 1;
}